body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  /* height: 100vh; */
}

.close_btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(218, 156, 23);
  cursor: pointer;
  position: fixed;
  bottom: 0;
}
